.banner{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
   
}
.banner_back{
    background-image: url('/img/banner-back.png');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: -1;



}
.banner1{
    margin-bottom: 20px;
    font-weight: 900;
}
.banner1 h2{
    
    font-size: 60px;
    font-weight: 400;
}
.content{
    margin-bottom: 30px;
    margin-top: 30px;

}
.content p{
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    color: #565656;
    max-width: 750px;
}
.banner1 h1{
    color: #4F00FF;
    font-size: 60px;
    background: linear-gradient(270.28deg, #5205FF 5.33%, #B696FF 95.12%),
linear-gradient(0deg, #000000, #000000);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    -webkit-text-stroke-width: 1px; 
            -webkit-text-stroke-color: #000; 
}

.btn{
    background-color: #FF0400;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 20px;
}
.btn1{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 20px;
}
.banner3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 1100px) {
    .banner_back{
        background-image: none;
    }
}
@media only screen and (max-width: 768px) {
    .banner1 h2{
    font-size: 30px; 
   }
   .content p{
    font-size: 20px;
   }
}