.explore{
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    margin-top: 120px;
}

.explore1 h1{
    width: 50%;
    font-weight: 300;
    font-size: 48px;
    margin: 15px 0;
}
.explore1 h1 span{
    font-weight: 700;
}
.explore2{
    margin-top: 20px;
}
.slideImg{
    position: relative !important;
    border-radius: 10px;
}
.slide h2{
    margin: 20px 0;
    
}
.slide p {
    color: #565656;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.readmore{
    color: #FF0400;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.dot.active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #4F00FF;
}
.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #9E9E9E;
    border: none;
    cursor: pointer;
}
@media only screen and (max-width:700px) {
    .explore1 h1{
        width: 100%;
    }
    .explore1 h1 br{
        display: none;
    }
}